@media screen and (max-width: 430px) {
    .container{
        display: flex;
        width: 100%;
    }

    .padd {
        width: 90vw;
        padding-right: 5vw;
        padding-left: 5vw;
    }

    #aologistics .padd {
        padding: 5vw;
    }

    #logo {
        width: 50%;
    }

    #logo img {
        max-width: 120px;
        width: 35vw;
    }

    header {
        height: 55px;
    }

    #head-mini-div {
        opacity: 0;
    }

    .links-div {
        position: absolute;
        opacity: 0;
    }

    .pages-div {
        width: 100%;
    }
}