@media screen and (max-width: 430px) {
    .container{
        display: flex;
        width: 100%;
    }

    .padd {
        width: 86vw;
        padding-right: 7vw;
        padding-left: 7vw;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    #aologistics .padd {
        padding: 5vw;
    }

    #aologistics {
        background-size: cover;
        background-position-x: center;
    }

    #about-us-menu-bar {
        background-size: cover;
        background-position-x: center;
    }

    #logo {
        width: fit-content;
    }

    #logo img {
        max-width: 120px;
        width: 30vw;
    }

    header {
        height: 55px;
    }

    .links-div {
        position: absolute;
        opacity: 0;
    }

    .pages-div {
        width: 100%;
    }

    #head-mini-div{
        display: none;
    }

    #we-do-block .useless-div {
        flex-direction: column;
    }

    #right {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #left {
        padding-right: 0;
    }

    #right div {
        width: 100%;
    }
    
    #left {
        width: 100%;
    }

    #we-do-block {
        padding-bottom: 0;
    }

    #stats .padd .useless-div {
        flex-direction: column;
    }

    .stats-card {
        flex-direction: row;
        padding: 0;
    }

    .upper-foot, .down-foot{
        flex-direction: column;
        justify-content: center;
    }

    .upper-foot h3 {
        display: none;
    }

    .down-foot .header-bar {
        width: 100%;
        flex-direction: column;
    }

    .down-foot #foot-mini-div {
        width: 100%;
    }

    #bigmarginpadd {
        padding: 50px;
        width: 86vw;
        padding-left: 7vw;
        padding-right: 7vw;
    }

    .pages-div a {
        margin-right: 0;
    }

    .pages-div {
        width: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu {
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 28pt;
    }

    #main-block {
        height: 86vh;
    }

    #main-text {
        width: 100%;
        max-width: none;
        justify-content: space-around;
    }

    #oco img {
        display: none;
    }

    #overview {
        margin: 0;
        max-width: 86vw;
    }

    .rep {
        flex-direction: column;
        width: 100vw;
    }

    .cust-card {
        width: 100%;
    }
}